body {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 1200px;
  min-height: 1200px;
  margin: 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 14px;
  text-transform: none;
}
h4 {
  font-size: 14px;
}
.silver {
  color: #aba9a7;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
  min-height: 70px;
  margin-left: 0px;
  background-color: black;
  padding-top: 1px;
}
.main-navigation li {
  float: left;
  list-style: none;
  padding-top: 0px;
  margin-top: 13px;
}
.logo {
  float: left;
  width: 110px;
  margin-top: 11px;
  margin-right: 40px;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-navigation {
  float: left;

}
.main-navigation a, .nav1 a {
  color: white;
}
.main-navigation li {
  margin-right: 40px;
}

.nav2 {
  padding-top: 25px;
  float: right;
  margin-right: 20px;

}
.setnavigation {
  width: 380px;
  margin-top: 30px;
}
.left {
  padding-left: 40px;
}
.container-for-two-column {
  margin-top: 55px;
}
.features h2 {
  margin-top: 0;
}
.features label {
  display: block;
}
.left-column {
  float: left;
  width: 220px;
}
.right-column {
  float: left;
  width: 700px;
}
.stroka {
  margin-top: 20px;
}
.btn {
  margin-top: 50px;
  width: 110px;
  height: 40px;
}
.product-and-price, .product-and-price2 {
  float: left;
  width: 720px;
}
.product {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product:nth-child(3n){
  margin-right: 0;
}
.pagination {
  margin-top: 65px;
}


.button .butn {
  margin-left: 45px;
}
.footer-end {
  margin-top: 120px;
  width: 100%;
  background-color: #232323;
  height: 190px;
  color: white;
}
.footer-info {
float: left;

}

.left-and-right-column {
margin-top: 60px;
}
.kit {

  margin-top: 30px;
}
.kit .silver {
  margin-left: 45px;
}
.left_column {
  float: left;
  width: 460px;

}
.right_column {
  float: left;
  width: 390px;

  margin-left: 90px;
}
.specification {
  float: left;
  width: 391px;
  margin-top: 85px;
  margin-left: 90px;
}
.silver-all .silver {
  margin-left: 142px;
}
.silver-all {
  margin-bottom: 40px;
}
.specification .articl {
  margin-bottom: 60px;
}
.specification .price {
  margin-bottom: 85px;
  margin-left: 30px;
}
.specification .price1 {
  padding-left: 45px;
}
.description-set .texts {
  margin-top: 40px;
}
